@import '../../styles/mixins.less';

.login-form {
  margin-top: 2em;
  text-align: center;

  &.ant-form {
    margin-top: 2em;
    text-align: center;
  }

  h1 {
    margin: 1em 0;
  }
  .login-form-button {
    width: 100%;
  }
}

.login-page-wrapper {
  text-align: center;
}
