@import '../../styles/mixins.scss';

.main-view {
  &__nav {
    padding: 24px;
    text-align: center;
  }
}

.flow-status {
  padding: 1em;
  margin: 1rem;
}

.disconnect-icon-overlay {
  font-size: 200%;
  color: red;
  position: absolute;
  left: 1em;
  right: 1em;
  top: 33%;
  bottom: 0;
  width: 10em;
  height: 4em;
  margin: auto;
}

.disconnect-icon-overlay::after{
  content: "disconnected </3";
  font-family: monospace;
  font-size: 110%;
}