@import '../../styles/mixins.scss';

.app {
  // flex property breaks the print layout in FF
  @media screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .app-content {
    flex: 1 0 auto;
    width: 100%;
  }
}

.app-preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  text-align: center;
  z-index: 1000;

  p {
    color: #108ee9;
  }

  .ant-spin {
    margin-bottom: 12px;
  }
}
