@import '../../styles/mixins.scss';

.check-voucher-page {
  .ant-spin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 300px;
  }
}

.voucher-sample {
  margin-top: 24px;

  img {
    width: 100%;
    height: auto;
  }
}
