@import '../../styles/mixins.scss';

.main-view {
  &__nav {
    padding: 24px;
    text-align: center;
  }

  &__spinner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 300px;
  }
}
