@import '../../styles/mixins.scss';

@media print {
  div {
    float: none !important;
    position: static !important;
    box-sizing: content-box !important;
  }

  .page-break {
    page-break-after: always;
  }
}

.print-view {
  &__qr {
    margin: 24px 0;
    text-align: center;

    img {
      border: 1px solid black;
    }
  }

  &__logo {
    height: 160px;
    margin: 48px 0 24px;
    text-align: center;

    @media screen {
      .print-view__confirmation:not(:first-child) & {
        display: none;
      }
    }

    img {
      max-height: 100%;
    }
  }

  &__footer {
    margin-bottom: 48px;
    text-align: center;

    @media screen {
      .print-view__confirmation:not(:last-child) & {
        display: none;
      }
    }

    .icon {
      fill: black;
    }
  }
}
