@import '../../styles/mixins.scss';

.summary-page {
  padding: 48px 24px;
  text-align: center;

  &__confirmation {
    margin-bottom: 12px;

    &-qr {
      display: table;
      margin: 24px auto;
    }

    &-table {
      margin: 24px 0;
    }
  }

  strong {
    font-weight: bold;
  }

  .ant-spin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 300px;
  }
}
