@import './mixins.less';

html,
body,
#react-root, #root {
  height: 100%;
}

body,
td {
  color: #555;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
a {
  color: #2db7f5;
  text-decoration: none;
  &:hover {
    color: #f90;
    border-bottom: 1px solid;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

h6 {
  font-size: 14px;
  font-weight: bold;
}

.form-error {
  padding: 2px 0 3px 0;
  color: #f04134;
}

.ant-form-item.error {
  margin-bottom: 0;
}

.ant-form-explain.has-error {
  margin-bottom: 0;
}
