@import '../../styles/mixins.less';

.job-feedback-list {
  dl {
    width: 100%;

    dt {
      display: inline-block;
      width: 200px;
      font-weight: bold;
    }

    dd {
      display: inline;

      &:after {
        display: block;
        content: '';
      }
    }
  }
}
