@import '../../styles/mixins.less';

.job-jobs-table {
  .supplier-filter-dropdown {
    width: 250px;
  }
  button.reload {
    margin: 1em 1em 1em 0;
  }

  .ant-table-column-sorter {
    width: 24px!important;
    height: 24px!important;
    padding-top: 4px!important;

    .ant-table-column-sorter-up, .ant-table-column-sorter-down {
      height: 12px!important;
      line-height: 12px!important;
    }

    .anticon-caret-down, .anticon-caret-up {
      font-size: 24px!important;
    }
  }

  .ant-table-column-has-filters {
    & > span {
      display: flex;
      white-space: nowrap;
    }
  }
}
