@import '../../styles/mixins.less';

.job-transcriber-form {
  img {
    max-width: 100%;
  }
  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }

  > div:first-child {
    .ant-select {
      margin-bottom: 1em;
    }
  }

  .right-form {
    padding-bottom: 24px;
  }

  .image-select-container {
    background: white;
  }

  .ant-form-item {
    margin-bottom: 6px;
  }

  .magnifying-glass {
    z-index: 999999;
  }
}

.action-bar {
  margin: 1em 0;
  display: none;

  &.show {
    display: block;
  }
}

.transcriber-form-button {
  width: 100%;
  font-size: 1.5em;
  height: 2em;
}
