.transcriber-form-container {
  display: flex;
  width: 100%;

  label {
    display: block;
    margin-bottom: 4px;
  }

  .field-group {
    margin-bottom: 16px;
  }

  .image-container-col {
    width: 66%;
    margin-right: 24px;
    padding-bottom: 24px;
  }

  .image-select {
    background: white;
    padding-bottom: 12px;
    border-bottom: 2px solid #ebebeb;
  }

  .transcriber-form-col {
    width: 33%;
  }

  .transcriber-form {
    padding-bottom: 24px;
  }

  .visitors,
  .full-name {
    display: flex;
    margin: 0 -2px 16px;

    .field-group {
      flex: 1 1 auto;
      margin: 0 2px;
    }
  }

  .ant-form-item {
    margin-bottom: 0 !important;
  }
}
