@import 'variables';

body {
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  background: $color-black url(../background.jpg) fixed;
  background-size: cover;
  color: $color-white;

  &.print {
    background: none;
  }
}

h2 {
  font-size: 28px;
  color: $color-white;
}

h3 {
  margin: 24px 0 18px;
  font-size: 24px;
  text-align: center;
  color: $color-st-white;
}

p {
  color: $color-st-white;
  line-height: 1.3;
}

.wrapper {
  max-width: 768px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
}

.form-error {
  padding: 8px 0;
  color: #f04134;
}

.page__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.warning {
  padding: 48px 12px;
  text-align: center;
  color: $color-yellow;

  p {
    color: inherit;
  }

  .anticon {
    margin-bottom: 24px;
    font-size: 96px;
  }
}

.status {
  margin: 48px 0;

  &--success {
    text-align: center;
    color: #36d74c;
  }

  &--warning {
    text-align: center;
    color: $color-yellow;
  }

  &--error {
    text-align: center;
    color: #f04134;
  }

  > p {
    margin-top: 24px;
    font-size: 24px;
    color: inherit;
  }

  .anticon {
    font-size: 128px;
  }
}

.ant-input {
  height: 48px;
  border: 2px solid rgba($color-yellow, 0.5);
  border-radius: 0;
  color: $color-white;
  font-size: 16px;
  background: none;
  outline: none;

  &:hover {
    border-color: rgba($color-yellow, 0.75);
  }

  &:focus {
    border: 4px solid $color-yellow;
  }

  &::placeholder {
    color: $color-st-white;
  }
}

.ant-input-group-lg .ant-input {
  height: 48px;
}

.ant-message {
  font-size: 16px;
  color: $color-black;

  &-notice-content {
    padding: 12px;
    border-radius: 0;

    .anticon {
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }
}

.ant-btn {
  height: 36px;
  border: 2px solid rgba($color-yellow, 0.5);
  border-radius: 0;
  background: rgba($color-white, 0.2);
  color: $color-yellow;

  &:hover,
  &:active,
  &:focus,
  &.ant-btn-clicked {
    padding: 0 13px;
    border: 4px solid $color-yellow;
    background: rgba($color-white, 0.2);
    color: $color-yellow;
  }

  &[disabled],
  &[disabled]:hover {
    padding: 0 15px;
    border-width: 2px;
    background: rgba($color-white, 0.5);
  }

  .ant-btn-group &:not([disabled]),
  .ant-btn-group &.ant-btn-primary:not([disabled]) {
    color: rgba($color-yellow, 0.5);

    &:hover,
    &:active,
    &:focus,
    &.ant-btn-clicked {
      border: 2px solid $color-yellow;
      color: $color-yellow;
    }
  }
}
