/*
 * Color variables
 */
$color-yellow: #ffd800;
$color-black: #000000;
$color-white: #ffffff;
$color-silver: #cccccc;
$color-mine-shaft: #222222;
$color-downriver: #0a1057;

$color-st-white: rgba($color-white, 0.6);
$color-st-black: rgba($color-black, 0.5);
