@import './mixins.scss';

* {
  box-sizing: border-box;
}

html, body, #react-root {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

#react-root {
  min-width: 320px;
}

a {
  color: #2db7f5;
  text-decoration: none;
  &:hover {
    color: #f90;
    border-bottom: 1px solid;
  }
}

p {
  font-size: 14px
}

h1 {
  margin: 36px 0 24px;
  font-size: 28px;
  text-align: center;
}

h2 {
  line-height: 1;
  font-size: 24px;
}

h3 {
  margin: 24px 0 12px;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

h6 {
  font-size: 14px;
  font-weight: bold;
}

.ant-input {
  height: 48px;
  font-size: 16px;
}

.wrapper {
  max-width: 648px;
  margin: 0 auto;
  padding: 0 24px;
}

.subtitle {
  margin: 12px;
  text-align: center;
  font-size: 16px;
}
