@import '../variables';

.booking-details {
  p {
    color: $color-white;
    line-height: 1.5;

    .print & {
      color: black;
    }
  }

  &__table {
    margin-top: 24px;
    color: $color-st-white;

    th,
    td {
      text-align: left;
      padding: 8px;
      color: $color-st-white;

      .print & {
        color: black;
      }
    }

    tr {
      background: rgba($color-white, 0.1);

      &:nth-child(even) {
        background: rgba($color-white, 0.2);
      }
    }
  }
}
