@import '../../../../styles/mixins';
@import '../variables';

.date-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -8px;

  &__col {
    width: 100%;
    padding: 8px;

    @include media(520px) {
      width: 50%;
    }

    @include media(768px) {
      width: (100% / 3);
    }
  }

  &__calendar {
    padding: 12px 0;
    background: rgba($color-white, 0.1);

    &-title {
      border-bottom: 1px solid $color-st-white;
      margin-bottom: 8px;
      padding-bottom: 12px;
      color: $color-st-white;
      text-align: center;
    }
  }
}

.ant-fullcalendar {
  border-top: 0;

  table {
    width: 100%;
    height: 200px;
  }

  &-header {
    display: none;
  }

  &-column-header {
    color: $color-st-white;
  }

  &-value {
    color: $color-st-white;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0;

    &:hover {
      background: transparent;
    }

    // disables default selection on today's cell
    .ant-fullcalendar-today & {
      border: none;
      box-shadow: none;
    }

    // disable default selection on selected cell
    .ant-fullcalendar-selected-day & {
      background: transparent;
      border-color: transparent;
      color: $color-st-white;
    }

    .ant-fullcalendar-disabled-cell & {
      color: $color-st-white;
      border-color: transparent;
    }

    &.active {
      border: 1px solid $color-yellow;
      color: $color-white;

      &:hover {
        color: $color-yellow;
      }
    }

    &.selected.active {
      color: $color-black;
      background: $color-yellow;

      &:hover {
        color: $color-black;
      }
    }
  }
}

