@import '../variables';

.footer {
  height: 100px;
  margin-top: 48px;
  padding: 48px 24px;
  text-align: center;
  background: linear-gradient(transparent, $color-black);

  .print & {
    display: none;
  }

  .copyright {
    margin-right: 12px;
    vertical-align: middle;
    font-size: 12px;
    color: $color-st-white;
  }

  .icon-logo {
    fill: $color-st-white;
    vertical-align: middle;
  }
}
