@import '../variables';

.reseller-tile {
  position: relative;
  width: 100%;
  padding-top: 75%;
  border: none;
  background: rgba($color-white, 0.1);

  &:hover {
    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    border: 4px solid transparent;
    transition: border 0.2s;

    .reseller-tile:hover & {
      border: 4px solid $color-yellow;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
