@import '../../../../styles/mixins';
@import '../variables';

.resellers-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  &__col {
    width: 100%;
    padding: 8px;

    @include media(480px) {
      width: 50%;
    }

    @include media(620px) {
      width: (100% / 3);
    }

    @include media(768px) {
      width: (100% / 4);
    }
  }

  &__spin {
    width: 100%;
    margin: 80px 0;
  }
}
