@import '../variables';

.steps {
  margin-top: 24px;

  &__panel {
    &:before {
      top: 40px;
      bottom: -16px;
      border-color: $color-st-white;
    }

    &:last-child:after {
      position: absolute;
      left: 8px;
      bottom: -4px;
      width: 8px;
      height: 8px;
      background: $color-yellow;
      border-radius: 50%;
      content: '';
    }

    &.steps__panel--active:before {
      border-color: $color-yellow;
    }
  }

  &__panel-header {
    h2 {
      color: $color-st-white;
      line-height: 1;

      .steps__panel--active & {
        color: $color-yellow;
      }
    }

    &:before {
      top: 16px;
      border-color: $color-st-white;

      .steps__panel--active & {
        border-color: $color-yellow;
      }
    }

    &:after {
      top: 24px;

      .steps__panel--active & {
        background: $color-yellow;
      }

      .steps__panel--complete & {
        background: $color-st-white;
      }
    }
  }

  &__panel-subtitle {
    color: $color-st-white;

    .steps__panel--active & {
      color: $color-st-white;
    }
  }

  &__panel-content {
    background: $color-st-black;
    border: 0;
    border-radius: 0;
  }
}
