@import '../variables';

.time-picker {
  .ant-btn,
  .ant-btn[disabled] {
    padding: 0 8px;
  }

  .ant-btn-primary {
    border: 2px solid transparent !important;
    background: $color-yellow;
    color: $color-black !important;
  }
}
