@import '../variables';

.voucher-data {
  width: 100%;
  margin: 24px 0;
  text-align: left;
  color: $color-st-white;

  tr {
    background: rgba($color-white, 0.1);

    &:nth-child(even) {
      background: rgba($color-white, 0.2);
    }
  }

  th,
  td {
    padding: 8px;
  }

  th {
    width: 35%;
  }
}
