@media print {
  * {
    font-size: 12px;
    font-family: sans-serif;
  }
  .no-print {
    display: none !important;
  }
  .no-print * {
    display: none !important;
  }
  .no-print-table-cell,
  no-print-table-cell * {
    display: none !important;
  }
  .main-view {
    margin-left: 0 !important;
  }
  .main-view.main-view-with-side {
    margin-left: 0 !important;
  }
  .inner-side-menu {
    display: none !important;
  }
  .show-overflow,
  .show-overflow * {
    overflow: visible !important;
  }
  .show-overflow-print {
    white-space: normal !important;
    text-overflow: clip !important;
    min-width: 185px !important;
    display: block;
  }
  td.compact-show-overflow-print {
    overflow: visible !important;
  }
  td.hide-overflow-print-only {
    overflow: hidden !important;
  }
  .wrap-overflow {
    white-space: normal !important;
    text-overflow: clip !important;
    min-width: 185px !important;
    display: block;
    position: relative;
    height: auto !important;
    top: 4px;
    overflow: hidden;
    overflow-y: visible;
    background: transparent !important;
  }
  .guid {
    font-size: 10px !important;
  }
  .redeemed .leftPaddedColumn.medium-narrow-column {
    padding-left: 0 !important;
  }
  .redeemed .name-column {
    width: 12% !important;
    padding: 0 !important;
  }
  .redeemed .tour-code {
    width: 16% !important;
    overflow: visible !important;
  }
  td.show-overflow {
    font-size: 10px;
    overflow: visible !important;
  }
  td {
    height: 28px !important;
    font-size: 12px !important;
  }
  tr {
    height: auto !important;
    overflow-y: visible !important;
  }
  .small-text-print-only {
    font-size: 9px !important;
  }
  .arrivals-tables div {
    padding: 0 !important;
  }
  .extra-narrow-column-print-only {
    width: 6.5% !important;
    text-overflow: clip !important;
    padding: 0 !important;
  }
  .narrow-column-print-only {
    width: 8% !important;
    text-overflow: clip !important;
    padding: 0 !important;
  }
  .medium-narrow-column-print-only {
    width: 10% !important;
    text-overflow: inherit !important;
    overflow: visible !important;
  }
  .medium-column-print-only {
    width: 12% !important;
    text-overflow: inherit !important;
    overflow: visible !important;
  }
  .medium-wide-column-print-only {
    width: 22% !important;
    text-overflow: inherit !important;
    overflow: visible !important;
  }
  .medium-slightly-wide-column-print-only {
    width: 18% !important;
    text-overflow: inherit !important;
    overflow: visible !important;
  }
  .medium-slightly-wider-column-print-only {
    width: 20%;
    text-overflow: inherit !important;
    overflow: visible !important;
  }
  .wide-tour-column-print-only {
    width: 34% !important;
    text-overflow: inherit !important;
  }
  th.wide-tour-column-print-only {
    width: 28% !important;
  }
  .narrow-column {
    width: 8% !important;
    text-overflow: clip !important;
    padding: 0 !important;
  }
  .medium-narrow-column {
    width: 10% !important;
    text-overflow: inherit !important;
    overflow: visible !important;
  }
  .medium-narrow-column.narrow-column-print-only {
    width: 8% !important;
  }
  .medium-column {
    width: 12% !important;
    text-overflow: inherit !important;
    overflow: visible !important;
  }
  .medium-narrow-column.medium-column-print-only {
    width: 12% !important;
  }
  .medium-narrow-column.medium-slightly-wide-column-print-only {
    width: 16% !important;
  }
  .wide-tour-column {
    width: 34% !important;
    text-overflow: inherit !important;
  }
  .wide-tour-column.medium-slightly-wide-column-print-only {
    width: 16% !important;
  }
  th.wide-tour-column {
    width: 28% !important;
  }
  th.wide-tour-column.medium-slightly-wide-column-print-only {
    width: 16% !important;
  }
  .detailed-reseller td.narrow-column {
    width: 10% !important;
  }
  .detailed-reseller td.medium-narrow-column {
    width: 12% !important;
  }
  .detailed-reseller td.medium-narrow-column.narrow-column-print-only {
    width: auto !important;
  }
  .detailed-reseller td.medium-column {
    width: auto !important;
  }
  .detailed-reseller td.wide-tour-column {
    width: auto !important;
  }
  .detailed-reseller td.wide-tour-column.medium-slightly-wide-column-print-only {
    width: auto !important;
  }
  .detailed-reseller .extra-narrow-column-print-only {
    width: 4.5% !important;
    text-overflow: clip !important;
    padding: 0 !important;
  }
  .detailed-reseller .narrow-column-print-only {
    width: 8% !important;
    text-overflow: clip !important;
    padding: 0 !important;
  }
  .detailed-reseller .medium-column-print-only {
    width: 12% !important;
    text-overflow: inherit !important;
    overflow: visible !important;
  }
  .detailed-reseller .medium-wide-column-print-only {
    width: 22% !important;
    text-overflow: inherit !important;
  }
  .detailed-reseller .medium-narrow-column-print-only {
    width: 10% !important;
    text-overflow: inherit !important;
  }
  .detailed-reseller .medium-slightly-wide-column-print-only {
    width: 16% !important;
  }
  .global-search td.medium-narrow-column {
    width: auto !important;
  }
  .global-search td.extra-narrow-column {
    width: auto !important;
  }
  .global-search td.narrow-column {
    width: auto !important;
  }
  .global-search,
  .global-search tr,
  .global-search table {
    overflow-x: visible !important;
  }
}
