@import '../../styles/mixins.scss';

$color-grey: #ebebeb;

.attraction-logo {
  margin: 0 auto;
  padding: 24px;
  text-align: center;

  @include media(480px) {
    height: 260px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
