@import '../../styles/mixins.scss';

.booking-details {
  p {
    text-align: center;

    @media print {
      color: black;
    }
  }

  &__table {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;

    @media print {
      color: black;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
      color: black;
    }

    th {
      width: 30%;
      text-transform: capitalize;
    }

    td {
      width: 70%;
    }

    tr:nth-child(odd) th,
    tr:nth-child(odd) td {
      background: rgba(black, 0.1);
      color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
  }
}
