@import '../../styles/mixins.scss';

.date-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -8px;

  &__col {
    width: 100%;
    padding: 8px;

    @include media(520px) {
      width: 50%;
    }

    @include media(768px) {
      width: (100% / 3);
    }
  }

  &__calendar {
    padding: 12px 0;
    text-align: center;
  }
}

.ant-fullcalendar {
  border-top: 0;

  table {
    width: 100%;
    height: 200px;
  }

  &-header {
    display: none;
  }

  &-value {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0;

    &:hover {
      background: transparent;
    }

    // disables default selection on today's cell
    .ant-fullcalendar-today & {
      border: none;
      box-shadow: none;
    }

    // disable default selection on selected cell
    .ant-fullcalendar-selected-day & {
      background: transparent;
      border-color: transparent;
    }

    .ant-fullcalendar-disabled-cell & {
      border-color: transparent;
    }

    &.active {
      &:hover {
        text-decoration: underline;
      }
    }

    &.selected.active {
      color: white;
      background: #108ee9;
      border-radius: 4px;
    }
  }
}
