@import '../../styles/mixins.scss';

.footer {
  margin-top: 24px;
  padding: 24px;
  border-top: 1px solid darken(#ebf6ff, 5%);
  text-align: right;
  background: #ebf6ff;

  .copyright {
    margin-right: 12px;
    vertical-align: middle;
  }

  .icon-logo {
    fill: #28337c;
  }
}
