@import '../../styles/mixins.scss';

.image {
  position: relative;
  height: 100%;

  img {
    position: relative;
    opacity: 1;
    transition: opacity 0.2s;
    z-index: 10;
  }

  &.is-loading {
    img {
      opacity: 0;
    }
  }

  &.has-error {
    display: flex;
    align-items: center;

    img {
      display: none;
    }
  }

  &__spin {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__error {
    font-size: 125%;
    margin-left: auto;
    margin-right: auto;
  }
}
