@import '../../styles/mixins.scss';

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  &__cancel {
    border: 0;
    background: none;
    color: #108ee9;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .ant-btn {
    margin-left: 8px;
  }
}
