@import '../../styles/mixins.scss';

.reseller-tile {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 66.66%;
  border: 1px solid darken(#ebf6ff, 5%);
  border-radius: 4px;
  transition: background 0.2s;
  background: #ebf6ff;
  outline: none;

  &:hover {
    background: darken(#ebf6ff, 5%);
    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    height: 100%;
    padding: 8px;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
