@import '../../styles/mixins.scss';

.resellers-filter {
  width: 100%;
}

.resellers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 12px -10px;

  &__spin {
    margin: 80px 0;
  }

  &__col {
    width: 100%;
    padding: 10px 10px;

    @include media(480px) {
      width: 50%;
    }

    @include media(620px) {
      width: (100% / 3);
    }

    @include media(768px) {
      width: (100% / 4);
    }
  }
}

