@import '../../styles/mixins.scss';

$color-blue: #108ee9;
$color-grey: #ebebeb;
$color-dark-grey: darken(#ebebeb, 15%);
$color-black: #000000;

.steps {
  &__panel {
    position: relative;
    padding-left: 36px;

    &:before {
      position: absolute;
      top: 36px;
      left: 10px;
      bottom: -12px;
      border-left: 4px solid $color-grey;
      content: '';
    }

    &:not(.steps__panel--active):last-child:before,
    &:not(.steps__panel--active):last-child:after {
      display: none;
    }

    &:last-child:before {
      bottom: 0;
    }

    &.steps__panel--active:before {
      border-left: 4px dashed $color-blue;
    }
  }

  &__panel-header {
    position: relative;
    padding: 12px 0;

    h2 {
      color: $color-dark-grey;

      .steps__panel--active & {
        color: $color-black;
      }
    }

    &:before {
      position: absolute;
      left: -36px;
      top: 12px;
      width: 24px;
      height: 24px;
      border: 4px solid $color-grey;
      border-radius: 50%;
      content: '';

      .steps__panel--active & {
        border-color: $color-blue;
      }
    }

    &:after {
      position: absolute;
      left: -28px;
      top: 20px;
      width: 8px;
      height: 8px;
      background: transparent;
      border-radius: 50%;
      content: '';

      .steps__panel--active & {
        background: $color-blue;
      }

      .steps__panel--complete & {
        background: $color-grey;
      }
    }
  }

  &__panel-subtitle {
    margin: 6px 0 -6px 0;
    color: $color-dark-grey;
    line-height: 1.3;
  }

  &__panel-content {
    display: none;
    padding: 12px;
    background: lighten($color-grey, 5%);
    border: 1px solid $color-grey;
    border-radius: 4px;

    .steps__panel--active & {
      display: block;
    }
  }
}
