@import '../../styles/mixins.scss';

.system-error {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 300px;
  text-align: center;

  p {
    margin: 12px 0;
    color: #f04134;
  }

  .ant-btn {
    float: none !important;
  }
}
