@import '../../styles/mixins.scss';

.time-picker {
  margin-bottom: 12px;
  padding: 4px;
  overflow: auto;

  &__row {
    width: 100%;
    margin: 12px 0;

    &.ant-btn-group {
      display: flex;
    }
  }

  &__button {
    flex: 1 0 auto;
  }
}
