@import '../../styles/mixins.scss';

.voucher-data {
  width: 100%;
  margin: 24px 0;
  text-align: left;

  tr {
    &:nth-child(even) {
      background: rgba(255, 255, 255, 0.5);
    }
  }

  th,
  td {
    padding: 8px;
  }

  th {
    width: 35%;
  }
}
