@import '../../styles/mixins.less';

.app {
  min-height: 100%;

  .logo {
    height: 100px;
    border-radius: 6px;
    margin: 2em 1em;
    background: transparent url('../../images/logo.png') no-repeat center center;
    background-size: contain;
  }
}
