@import '../../styles/mixins.less';

.app-header {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 1em;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #108ee9;
    }
  }

  .mini-menu {
    text-align: right;

    .ant-dropdown-link {
      padding: 0 1em;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
