@import '../../styles/mixins.less';

.home-app-sidebar {
  .ant-menu-dark {
    .ant-menu-item-group-title {
      color: rgba(255, 255, 255, 0.4);
      font-size: 0.9em;
      margin-top: 1em;
    }
  }
}
